[user]
	name = Florent Rotenberg
	email = florent.rotenberg@pyxalis.com

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[pull]
	rebase = true

[push]
	default = simple
	
[log]
	decorate = full

[rebase]
	autostash = true

[alias]
	d = difftool
	ll = log --graph --oneline --decorate --all

[difftool]
	prompt = false

[diff]
	tool = meld

[merge]
	tool = meld

[color]
	ui = auto

