alabaster==0.7.13
appdirs==1.4.4
attrs==23.1.0
Babel==2.13.1
bison==0.1.3
build==1.0.3
CacheControl==0.13.1
cachetools==5.3.2
cachy==0.3.0
certifi==2023.7.22
cffi==1.16.0
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
clikit==0.5.1
colorama==0.4.6
commonmark==0.9.1
crashtest==0.4.1
cryptography==41.0.5
distlib==0.3.7
distro==1.8.0
docutils==0.18.1
dulwich==0.21.6
edalize==0.5.1
fastjsonschema==2.18.1
filelock==3.13.1
fusesoc==2.3
gitdb==4.0.11
GitPython==3.1.40
hjson==3.1.0
html5lib==1.1
identify==2.5.31
idna==3.4
imagesize==1.4.1
importlib-metadata==6.8.0
importlib-resources==6.1.1
iniconfig==2.0.0
installer==0.7.0
jaraco.classes==3.3.0
jeepney==0.8.0
Jinja2==3.1.2
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
jsonschema2md==1.0.0
keyring==24.3.0
lockfile==0.12.2
Markdown==3.5.1
MarkupSafe==2.1.3
more-itertools==10.1.0
msgpack==1.0.7
nodeenv==1.8.0
okonomiyaki==1.4.0
packaging==23.2
pastel==0.2.1
pexpect==4.8.0
pkginfo==1.9.6
platformdirs==3.11.0
pluggy==1.3.0
poetry==1.7.0
poetry-core==1.8.1
poetry-plugin-export==1.6.0
pre-commit==3.5.0
ptyprocess==0.7.0
py==1.11.0
pycparser==2.21
Pygments==2.16.1
pylev==1.4.0
pyparsing==3.1.1
pyproject-api==1.6.1
pyproject_hooks==1.0.0
pyrsistent==0.20.0
pytest==7.4.3
pytz==2023.3.post1
PyYAML==6.0.1
rapidfuzz==3.5.2
recommonmark==0.7.1
referencing==0.30.2
requests==2.31.0
requests-toolbelt==1.0.0
rpds-py==0.12.0
ruamel.yaml==0.17.40
ruamel.yaml.clib==0.2.8
SecretStorage==3.3.3
shellingham==1.5.4
simplesat==0.8.2
six==1.16.0
smmap==5.0.1
snowballstemmer==2.2.0
Sphinx==7.2.6
sphinx-markdown-tables==0.0.17
sphinx-rtd-theme==1.3.0
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-programoutput==0.17
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
teroshdl==3.0.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.2
tox==4.11.3
trove-classifiers==2023.11.13
typing_extensions==4.8.0
urllib3==2.1.0
virtualenv==20.24.6
vsg==3.18.0
vunit-hdl==4.7.0
wasmtime==14.0.0
webencodings==0.5.1
woops==0.2.1
yamlfmt==1.1.1
yowasp-runtime==1.42
yowasp-yosys==0.35.0.0.post605
zipfile2==0.0.12
zipp==3.17.0
